<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tutoriales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tutoriales de todo">
    <meta name="author" content="Javier,Ricardo,MarcelaPaz">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    a.menu:after, .dropdown-toggle:after { 
        content: none; 
      } 

    ul.nav li.dropdown:hover { 
      font-weight: bold; 
     

      
} 
  ul.nav li.dropdown:hover ul.dropdown-menu.submenu{ 
    display: block; 
    margin-left: 220px; 
     
    margin-top: -36px; 
                 
                background-color:#FFF; 
                font-weight: normal; 
                 
  } 

    </style> 
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url home %}">TuLoArmas</a>
          <div class="nav-collapse collapse">
          
          {% if user.is_authenticated %}
    		<p class="navbar-text pull-right">
    		<a href="/logout/">Cerrar Sesión</a>
    		</p>
    		<p class="navbar-text pull-right">
    		 Usuario {{user.username}} - 
    		</p>
    	  {%else%}
    	  	<p class="navbar-text pull-right">
    		<a href="/login/">Iniciar Sesión</a>
    		</p>
    	  {%endif%}
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
        	<div class="form-group">
          	    <input type="text" class="form-control" placeholder="Buscar">
        	    <button type="submit" class="btn btn-default">Enviar</button></div>
          </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>





		<div class="container">

			<div class="row" id="main-content">

				<div class="span4" id="sidebar">

					<dic class="well">

						<forms>
							<fieldset>
								<legend>Login</legend>
								<input type="text" class="input-block-level" placeholder="username">
								<input type="text" class="input-block-level" placeholder="password">
								<label class="checkbox">
									<input type="checkbox">Remember Me
								</label>
								<input type="text" placeholder="submit" class="btn-primary" value="login">
								<a class="btn btn-info">register</a>


							</fieldset>



						</forms>


				</div>

				<div class="span8"></div>




			</div>

			<footer class="row"></footer>
		</div><!-- fin container -->

<!-- Para registro -->
<div id="register" class="modal hide fade" aria-labelledby="modalLabel" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove">
		</i></button>
			<h3 id="modalLabel">Register</h3>
		</div>

		<div class="modal-body">

			<form>

				<p class="label label-info">required</p>

				<div class="controls controls-row">
					
					<input type="text" class="span2" placeholder="Nombre">
					<input type="text" class="span2" placeholder="Apellido">


					<select class="span1">
						<option>Usuario</option>
						<option>administrador</option>
					</select>

				</div>

				<div class="controls control-group info">
					<input type="text" class="span5" placeholder="Nombre usuario" id="inputinfo">
					<input type="text" class="span5" placeholder="Correo" id="inputinfo">
					<input type="text" class="span5" placeholder="Confirmar correo id="inputinfo"">
					<input type="text" class="span5" placeholder="Dirección">
					<input type="text" class="span5" placeholder="Teléfono">
					<input type="text" class="span5" placeholder="Celular">

				</div>			

				<p class="help-block">Si usted quiere cotizar porductos regístrese como Usuario. Si quiere ingresar sus productos a la página regístrese como Administrador</p>

				<label class="checkbox inline">
					<input type="checkbox">Usuario
				</label>
				<label class="checkbox inline">
					<input type="checkbox">Administrador
				</label>

			</form>



		</div>

		<div class="modal-footer">
			<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">cancel</button>
			<button class="btn btn-success">register</button>
		</div>

</div>



		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>